<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align page-footer">

  <div class="container">
    <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
    <%= link_to 'Privacy Policy', privacy_path %>
  </div>

  <div id="copy" class="center-align footer-copyright">
    <p>Webmaster: <%= mail_to("mjkern@andrew.cmu.edu", "Matthew Kern", encode: "javascript") %></p>
    &nbsp;&nbsp;&copy 2019
  </div>

</div>

