<div class="card">
	<div class="card-image">
		<img src="https://materializecss.com/images/sample-1.jpg">
    <!--<form><input type="submit" action="<%= add_cart_path(item) %>" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></input></form>-->
    <a onclick="function(){console.log('something is happening')}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
	</div>
  <div class="card-content">
    <h6><%= item.name %></h6>
    <p><%= number_to_currency item.current_price %></p>
  </div>
  <div class="card-action">
    <a class="waves-effect waves-light btn-small">View<i class="material-icons right">visibility</i></a>
  </div>
</div>
