<div class="row">
  <div class="col s8">
    <div class="row">
      <div class="col s12">
        <%= render partial: "#{primary}", locals: (defined? locals) ? locals : {} %>
      </div>
    </div>
    <% if (defined?(secondary)) %>
      <div class="row">
        <div class="col s12">
          <%= render partial: "#{secondary}", locals: (defined? locals) ? locals : {} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s4">
    <%= render partial: "#{sidebar}", locals: (defined? locals) ? locals : {} %>
  </div>
</div>
