<ul class="collection">
  <% for user in users %>
    <li class="collection-item">
      <div>
        <%= link_to user.username user_path(user) %>
        <a href="<%= edit_user_path(user) %>" class="secondary-content"><i class="material-icons">edit</i></a>
      </div>
    </li>
  <% end %>
</ul>
