<div class="row">
  <div class="col s6">
    <%= render partial: 'partials/sales_data' %>
  </div>
  <div class="col s6">
    <%= render partial: 'partials/items_data' %>
  </div>
  <div class="col s6">
    <%= render partial: 'partials/customers_data' %>
  </div>
</div>
