
<div class="container">
<h3>Our Privacy Policy</h3>
<p>Please know that we value your data because it can make us a lot of money. Anything you input to this site may be recorded and sold. Also know that much of the data is available to the public, as no logins are required to view anything on this website. Do not let your personal information anywhere near our site and expect it to stay private.</p>
</div>
