<%= simple_form_for @item, html: { class: 'form-horizontal' }, multipart: true do |f| %>

  <%= render partial: 'fields', locals: { f: f } %>

  <div class="row">
    <div class="col s12">
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn waves-effect waves-effect-light' %>
        <%= link_to 'Cancel', :back, :class => 'button alert radius' %>
      </div>
    </div>
  </div>
<% end %>
