<h4>Our Products</h4>
<form>
  <div class="input-field">
    <input id="search" type="search" required>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>

<div id="tabbed">
  <tabs>
    <tab name="All" v-bind:selected="true">
      <%= render partial: 'all', locals: { items: @items } %>
    </tab>

    <tab name="Bread">
      <%= render partial: 'all', locals: { items: @breads } %>
    </tab>

    <tab name="Muffins">
      <%= render partial: 'all', locals: { items: @muffins } %>
    </tab>

    <tab name="Pastries">
      <%= render partial: 'all', locals: { items: @pastries } %>
    </tab>
  </tabs>
</div>
