
/* these changes take precidence over default materiaize */

// fonts
html {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

// color scheme info
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// changes to make sticky footer work
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// format form better
.input-field {
  width: 50%;
  clear: both;
}

.boolean {
  clear: both;
}

// for alerts
.alert-box {
  text-align: center;
  height: 2em;
  width: 99%;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  margin: 0.5%;
  background-color: $accent-color;
  color: $primary-color-text;
}
.alert-box.alert-close {
  opacity: 0;
}

// for title bar
.nav-wrapper img {
  height: 4em;
  margin: 0.2em;
  //float: left
}

.brand-logo {
  float: left;
}

.brand-logo img {
  height: 2em;
  margin: 0.2em;
}
